# https://www.builder.io/c/docs/using-your-api-key
VITE_PUBLIC_BUILDER_KEY=__BUILDER_PUBLIC_KEY__
PING_MESSAGE="ping pong"

DATABASE_URL="postgresql://neondb_owner:npg_Kzq0IJTb9gGQ@ep-noisy-sound-anamn8xw-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT_SECRET="uwteam-k9#mX2$pQ7vL4nR8wJ3yT6uF1hC5dA0bE"
PORT=3000